[DEVICE]
Name=P33FJ256GP710A
Clock=8000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_LTE_IoT2_DSPIC.c
[HEADERS]
Count=3
File0=Click_LTE_IoT2_timer.h
File1=Click_LTE_IoT2_config.h
File2=Click_LTE_IoT2_types.h
[PLDS]
Count=1
File0=Click_LTE_IoT2.pld
[Useses]
File0=LTE_IoT2_DSPIC
File1=UART
File2=C_String
File3=easypicfusion_v7_P33FJ256GP710A
Count=4