[DEVICE]
Name=P32MX795F512L
Clock=80000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_LTE_IoT2_PIC32.c
[HEADERS]
Count=3
File0=Click_LTE_IoT2_timer.h
File1=Click_LTE_IoT2_config.h
File2=Click_LTE_IoT2_types.h
[PLDS]
Count=1
File0=Click_LTE_IoT2.pld
[Useses]
File0=LTE_IoT2_P32MX
File1=UART
File2=C_String
File3=easypicfusion_v7_P32MX795F512L
Count=4
