[DEVICE]
Name=MSP432P401R
Clock=48000000
[BUILD_TYPE]
Value=0
[FILES]
Count=4
File0=Click_LTE_IoT2_MSP.mbas
File1=Click_LTE_IoT2_config.mbas
File2=Click_LTE_IoT2_types.mbas
File3=Click_LTE_IoT2_timer.mbas
[HEADERS]
Count=0
[PLDS]
Count=1
File0=Click_LTE_IoT2.pld
[Useses]
File0=LTE_IoT2_MSP_M4
File1=UART
File2=String
File3=clicker_2_MSP432
Count=4