[DEVICE]
Name=STM32F107VC
Clock=72000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_LTE_IoT2_STM.c
[HEADERS]
Count=3
File0=Click_LTE_IoT2_timer.h
File1=Click_LTE_IoT2_config.h
File2=Click_LTE_IoT2_types.h
[PLDS]
Count=1
File0=Click_LTE_IoT2.pld
[Useses]
File0=LTE_IoT2_STM32_M3
File1=UART
File2=C_String
File3=easymx_v7_STM32F107VC
Count=4
