[DEVICE]
Name=MSP432P401R
Clock=48000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_LTE_IoT2_MSP.c
[HEADERS]
Count=3
File0=Click_LTE_IoT2_timer.h
File1=Click_LTE_IoT2_config.h
File2=Click_LTE_IoT2_types.h
[PLDS]
Count=1
File0=Click_LTE_IoT2.pld
[Useses]
File0=LTE_IoT2_MSP_M4
File1=UART
File2=C_String
File3=clicker_2_MSP432
Count=4