[DEVICE]
Name=STM32F107VC
Clock=72000000
[BUILD_TYPE]
Value=0
[FILES]
Count=4
File0=Click_LTE_IoT2_STM.mbas
File1=Click_LTE_IoT2_config.mbas
File2=Click_LTE_IoT2_types.mbas
File3=Click_LTE_IoT2_timer.mbas
[HEADERS]
Count=0
[PLDS]
Count=1
File0=Click_LTE_IoT2.pld
[Useses]
File0=LTE_IoT2_STM32_M3
File1=UART
File2=String
File3=easymx_v7_STM32F107VC
Count=4
