[DEVICE]
Name=FT900
Clock=100000000
[BUILD_TYPE]
Value=0
[FILES]
Count=4
File0=Click_LTE_IoT2_FT90x.mpas
File1=Click_LTE_IoT2_config.mpas
File2=Click_LTE_IoT2_types.mpas
File3=Click_LTE_IoT2_timer.mpas
[HEADERS]
Count=0
[PLDS]
Count=1
File0=Click_LTE_IoT2.pld
[Useses]
File0=LTE_IoT2_FT90x
File1=UART
File2=String
File3=easyft90x_v7_FT900
Count=4