[DEVICE]
Name=P32MX795F512L
Clock=80000000
[BUILD_TYPE]
Value=0
[FILES]
Count=4
File0=Click_LTE_IoT2_PIC32.mbas
File1=Click_LTE_IoT2_config.mbas
File2=Click_LTE_IoT2_types.mbas
File3=Click_LTE_IoT2_timer.mbas
[HEADERS]
Count=0
[PLDS]
Count=1
File0=Click_LTE_IoT2.pld
[Useses]
File0=LTE_IoT2_P32MX
File1=UART
File2=String
File3=easypicfusion_v7_P32MX795F512L
Count=4
