[DEVICE]
Name=P33FJ256GP710A
Clock=8000000
[BUILD_TYPE]
Value=0
[FILES]
Count=4
File0=Click_LTE_IoT2_DSPIC.mpas
File1=Click_LTE_IoT2_config.mpas
File2=Click_LTE_IoT2_types.mpas
File3=Click_LTE_IoT2_timer.mpas
[HEADERS]
Count=0
[PLDS]
Count=1
File0=Click_LTE_IoT2.pld
[Useses]
File0=LTE_IoT2_DSPIC
File1=UART
File2=String
File3=easypicfusion_v7_P33FJ256GP710A
Count=4
